@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root{
  --color-white: #131316;
  --color-light: #23232a;
  --color-dark: #ddd;
  --color-gray-dark: #adacb5;
  
  --color-gray-light:#86848c;
  --color-primary:rgb(71, 7, 234);
  --color-success:rgb(34, 202, 75);
  --color-danger:rgb(255, 67, 54);
  --color-warning:rgb(234, 181, 7);
  --color-purple:rgb(160, 99, 245);

  --color-primary-light:rgba(71, 7, 234, 0.2);
  --color-success-light:rgba(156, 244, 159, 0.2);
  --color-danger-light:rgba(255, 67, 54, 0.2);
  --color-purple-light:rgba(160, 99, 245, 0.2);

  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
}


*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body
{
          font-family: "Poppins", sans-serif;
          background: #4B0082;
          color: white;
          font-size:smaller;
          width: 100%;

}

h1
{
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          font-family: "Roboto", sans-serif;
          color: rgba(rgb(255, 0, 0), rgb(123, 161, 123), blue, alpha);
          text-decoration: var(--flashyGradient);
          text-decoration-color: var(--luckiestWinnersGradient);
         
}
p {
          font-size: 10px;
}
.navbar
{
          width: 100%;
          border: none;
}
.starting
{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 10px 20px;
}
.starting-info p{
          padding:2px
}

.big-container{
          width: 70%;
          height: 70%;
          margin: 0 auto;
}
.feature
{
          padding: 0;
          margin-top: 25px;
          margin-right: 0px;
          position: relative;
          top:50px

}
.carousel-item img
{
          border-radius: 30px;
          padding: 0px;
          border: #24A0ED 5px solid;
}
.car{
          margin: 0;
          padding: 0;
          position: absolute;
          top: 90%;
          white-space: nowrap;
          width: 50px;
          height: 50px;
          color: transparent;
          background: transparent;
          left: 100%;
          overflow-x: hidden;
          overflow-y: hidden;
          z-index: -1000;
}
.car img{
          width:100%;
          background: transparent;
          border-radius: 10%;
}
.contacts
{
          margin-bottom: 30px;
}
.contact-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
         
        }
        
        .location, .phone, .email {
          display: flex;
          align-items: center;
        }
        
        .location-icon, .phone-icon, .email-icon {
          margin-right: 10px;
        }
        
.location-info{
          padding-top: 10px;
}
.social-medias
{
          margin: 70px auto 0;
          padding: 10px 0 0 0;
}
.social-medias ul
{
          display: flex;
          justify-content: center;
          list-style-type: none;
}

.social-medias ul li
{
          padding:20px
}

a
{
          color: white;
}

a:hover
{
          color: rgb(244, 235, 235);
          text-decoration: none;
          cursor:pointer;
}


.popup {
          display:flex;
          flex-direction: column;
          position: absolute;
          top: 0px;
 
          width: 100%;
          height: 100%;
          background-color: white;
          /* New CSS properties for centering */
          z-index: 100;
          font-size: 1rem;
        }


.activez
{
          display: none;
}
        

@media screen and (max-width: 728px){
          body{
                    width:100%;
          }
          *{
                    margin: 0;
                    padding: 0;
                    box-sizing: none;
          }
          
          .big-container{
                    margin:0 auto;
                    width: 100%;
          }
          .starting{
                    margin: 0px 0px ;
                    padding: 0 0px;
          }
          .starting-info p{
                    padding: 0 0 0 0;
                    margin: 0 30px;
          }
          .feature{
                    width: 90%;
                    margin: 0 auto;
                    position: relative;
          }
          .contacts{
                    margin-top: 100px;
                    color:white;
          }

          button{
                    width:180px;
                    position:absolute;
                     right: 20%;
                     color:rgb(244, 235, 235);
                    box-shadow: none;
          
          }
          .contacts.container p{
                    position: absolute;
                     color:white;
                     right: 10%; 
                     padding: 0 250px 0 100px ;
                     margin-top: 10px;
          }
          .pother{
                    margin-top: 10px;
          }
          span.span{
                    margin-top: 0 0 15px 0;
          }
          .blueoutline{
                    padding:0
          }
          .row div{
            
            min-height: 50px;
            max-height: 50px;
            max-width: 50px;
            min-width: 50px;


          }
          .row {
            padding: 0;
          }
         
        }

button{
          background-color: blue;
          width:180px;
          position: relative;
          left: 15px;
          color: white
}

.contacts .container p{
          position: relative;
          left: 15px;
          margin-top: 50px;
}






.contuiner{
         
          background-color: #fff;
          position: fixed;
          width: 350px;
          height: 420px;
          bottom: 50px;
          right: 10px;
          box-shadow: 0 0 15px 0 black;
}



.chat-header{
          height: 60px;
          display: flex;
          align-items: center;
          padding: 0 30px;
          background-color: #0652c0;
          color: #fff;
          font-size: 1.5rem;
          width: 100%;
          box-sizing: border-box;
}

.chat-header .logo{
          height: 35px;
          width: 35px;
          box-shadow: 0 0 10px 0 black;
}

.chat-header .chatlogo img{
          
          width: 60px;
          height: 59px;
}
.send img{
          width: 100%;
}
.send img:hover{
          cursor: pointer;}

.chat-header .chat-title{
          padding-left: 10px;
}

.chat-body{
          height: 300px;
          display: flex;
          flex-direction: column;
          padding: 8px 10px;
          align-items: flex-end;
          overflow-y: auto;
          overflow: hidden;
          position: relative;
}

.chat-input {
          height: 60px;
          display: flex;
          align-items: center;
          border-top: 1px solid #ccc;
}

.input-sec {
          float: 9;
}

.send {
          flex: 1;
          padding-left: 100px;
}
#txtinput {
          line-height: 30px;
          padding: 8px 10px;
          border: none;
          outline: none;
          caret-color: black;
          font-size: 1rem;
          width: 100%;
}
          
.user-message,
.chatbot-message {
          color: #000;
          padding: 8px;
          background-color: #ccc;
          margin: 5px;
          width: max-content;
          border-radius: 10px 3px 10px 10px;
          font-family: "Montserrat", sans-serif;
        }
        
.chatbot-message {
          background-color: #0652c0;
          color: white;
          align-self: flex-start;
          border-radius: 10px 10px 3px 10px;
          transform: translate(-50%);
          opacity: 0;
          animation:  fade-in-left .3s ease-in-out both;

}

.user-message {
          transform: translate(50%);
          opacity: 0;
          animation: fade-in-right .3s ease-in-out both;
}

.chat-body .loading {
          position: absolute;
          bottom: 5%;
          left: 2%;
          z-index: 999;
          display: flex;
}

.chat-body .loading > .circle{
          height: 20px;
          width: 20px;
          background-color: #0652c0;
          margin: 5px;
          border-radius: 50%;

}

.circle1{
          animation: blink 1s ease-in-out 0ms both infinite;
}
.circle2{
          animation: blink 1s ease-in-out 200ms both infinite;
}
.circle3{
          animation: blink 1s ease-in-out 400ms both infinite;
}

@keyframes fade-in-right {
          0%{
                    transform: translate(50%);
                    opacity: 0;
          }
          100% {
                    transform: translate(0%);
                    opacity: 1;
          }
}
@keyframes fade-in-left {
          0%{
                    transform: translate(-50%);
                    opacity: 0;
          }
          100% {
                    transform: translate(0%);
                    opacity: 1;
          }
}
@keyframes blink {
          0%{
                    opacity: 0;
          }
          100%{
                    opacity: 1;
          }
}

.hide{
          display: none !important;
}

.bot-response-container {
          display: flex;
          height: 45px;
          align-self: flex-start;
          justify-content: flex-start;
          padding-right: 60px;
          margin-left: 0;
        }
    

#exit-chat {
          background-color: transparent;
          background: none;
          border: none;
          text-decoration: none;
          text-decoration: solid;
          text-align: right;
          padding: 13px 0 13px 70px;
          font-size: 2rem;
          font-weight: 300;
          color: #ccc;

}

#exit-chat:hover {
          cursor: pointer;
}
a {
  text-decoration: none;
}
